# Contract Addresses (update after deployment)
VITE_NFT_CONTRACT_ADDRESS=0x_YOUR_NFT_CONTRACT_ADDRESS
VITE_MARKETPLACE_ADDRESS=0x_YOUR_MARKETPLACE_ADDRESS

# Pinata IPFS (https://app.pinata.cloud)
VITE_PINATA_API_KEY=your_pinata_api_key
VITE_PINATA_SECRET_KEY=your_pinata_secret_key
VITE_PINATA_GATEWAY=your_gateway.mypinata.cloud
